/* our app */

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#F6F6FA;;
}

.app-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #FFF;
    ;
}

/* sidebar styles */

.sidebar-section{
background-color: #DFEEFF;
}
.sidebar-image{
margin-top: 40px;
}
.contacts-section{
padding-left: 40px;
}
.contacts-header{
color: #161D2A;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contacts-items{
color: #161D2A;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.contacts-phone{
color: #4489FF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-decoration: none;
margin-left: 10px;
}
.contacts-email{
color: #4489FF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
margin-left: 10px;
}
.contacts-element{
margin-top: -10px;
}
.techskills-section{
padding-left: 40px;
margin-top: 40px;
}
.techskills-header{
color: #161D2A;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.techskills-list{
color: #161D2A;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-top: -10px;
margin-left: -10px;
}
.softskills-section{
padding-left: 40px;
margin-top: 50px;
}
.softskills-header{
color: #161D2A;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.softskills-list{
color: #161D2A;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-left: -10px;
}
/* right side container*/

.right-side{
padding-left: 88px;
padding-top: 90px;
padding-bottom: 180px;
padding-right: 40px;
}
.about-me-proffesion{
color: #000;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-me-name{
color: #000;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -10px;
}
.about-me-description{
color: #595959;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-top: -25px;
margin-bottom: 40px;
}
.pj-header{
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: -10px;
}
.pj-list{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-left: -25px;
}
.pj-name{
color: #595959;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-decoration-line: underline;
}
.pj-info{
color: #000;
font-weight: 400px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.work-exp-section{
    margin-top: 40px;
}
.work-exp-header{
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.company-name{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.company-info{
color: #6096FF;
margin-left: 10px;
}
.company-time{
color: #A8A8A8;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -10px;
}
.company-elements-list{
color: #595959;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-left: -15px;
margin-top: -5px;
}
.company-cont{
    margin-top: -10px;
}
.education-container{
    margin-top: 40px;
}
.education-header{
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: -3px;
}
.university{
color: #6096FF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 8px;
margin-bottom: -2px;
}
.education-program{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 8px;
margin-bottom: -5px;

}
.education-time{
color: #A8A8A8;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}